.pagination li {
	padding: .5rem 1rem;
	font-size: .875rem;
	border: 1px solid #e1e1e1;
}

.pagination .active {
	background-color: #1266f1;
	border: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2),0 2px 10px 0 rgba(0,0,0,.1);
	transition: all .2s linear;
}
.pagination .active a {
	z-index: 3;
	color: #fff;
}